.App {
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
}

.header{
  background-color: yellow;
}

.FollowersColumn{
  background-color: red;
  width: 500px;
  height: 800px;
}

.feed{
  background-color: white;
  width: 500px;
}

.suggestBox{
background-color: pink;
width: 400px;
height: 400px;
}