.App {
  text-align: center;
}

.header{
  background-color: yellow;
}

.FollowersColumn{
  background-color: red;
  width: 500px;
  height: 800px;
}

.suggestBox{
background-color: pink;
width: 50px;
  height: 80px;
}